#card {
  max-width: 500px;
  padding: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: rgba(1, 1, 1, 0.3);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#cardContainer {
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}

#card ul {
  display: table;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: inherit;
}

#card li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

#edit {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
}

#edit > .v-btn {
  background-color: rgba(1, 1, 1, 0.3);
  color: #ffffff;
  border-radius: 10px;
}

#watermark {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 10px;
  text-align: center;
}

#watermark p {
  margin: 0 !important;
}

#card:hover #edit,
#card:active #edit {
  visibility: visible;
}

.icon {
  max-width: 30px;
  height: auto;
}

.pseudo {
  padding-left: 10px;
  text-shadow: 1px 2px #000000;
}
/*# sourceMappingURL=card.css.map */