@import 'variables.scss';
#card {
    max-width: 500px;
    padding: 10px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: $black-transparent;
    justify-content: center;
    align-items: center;
    position: relative;
}

#cardContainer {
    background-color: $background-color;
    background-image: $background-image;
}

#card ul {
    display: table;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: inherit;
}

#card li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#edit {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
}

#edit>.v-btn {
    background-color: $black-transparent;
    color: $blanc;
    border-radius: 10px;
}

#watermark {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 10px;
    text-align: center;
}

#watermark p {
    margin: 0 !important;
}

#card:hover #edit,
#card:active #edit {
    visibility: visible;
}

.icon {
    max-width: 30px;
    height: auto;
}

.pseudo {
    padding-left: 10px;
    text-shadow: 1px 2px #000000;
}