@import 'variables.scss';
#editMenu {
    background-color: $background-color;
    background-image: $background-image;
    color: $blanc;
}

.v-dialog::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    box-shadow: inset 0 0 6px transparent;
    background-color: $black-transparent;
}

.v-dialog::-webkit-scrollbar {
    width: 6px;
    background-color: $black-transparent;
}

.v-dialog::-webkit-scrollbar-thumb {
    background-color: $blanc;
}

.v-messages {
    color: $blanc !important;
}

.v-messages.error--text {
    color: #cc0000 !important;
    font-weight: bold;
}

#editButton {
    background-color: rgba(255, 255, 255, 0.6) !important;
    color: black;
    visibility: visible;
}

.text-white input,
.v-input,
.v-label {
    color: $blanc !important;
}

#card:hover>#editButton {
    visibility: visible;
}