#editMenu {
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  color: #ffffff;
}

.v-dialog::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  box-shadow: inset 0 0 6px transparent;
  background-color: rgba(1, 1, 1, 0.3);
}

.v-dialog::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(1, 1, 1, 0.3);
}

.v-dialog::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

.v-messages {
  color: #ffffff !important;
}

.v-messages.error--text {
  color: #cc0000 !important;
  font-weight: bold;
}

#editButton {
  background-color: rgba(255, 255, 255, 0.6) !important;
  color: black;
  visibility: visible;
}

.text-white input,
.v-input,
.v-label {
  color: #ffffff !important;
}

#card:hover > #editButton {
  visibility: visible;
}
/*# sourceMappingURL=editMenu.css.map */