@import 'variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*:not(.fas) {
  font-family: 'Open Sans', sans-serif;
}

.v-application {
  background-color: $background-color !important;
  background-image: $background-image !important;
  color: $blanc !important;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.v-btn {
  background-color: $black-transparent !important;
  color: $blanc !important;
  font-size: 1.3rem !important;
}

.italic {
  font-style: italic;
}

#title {
  text-shadow: 1px 2px #000000;
}

#actions {
  margin-top: 10px;
}

#instructions {
  padding: 10px 0px 0px 10px;
}

#instructions ul {
  list-style: none;
  padding: 0;
}

#imageContainer {
  max-width: 100%;
  max-height: fit-content;
}

#imageContainer img {
  max-width: inherit;
  height: auto;
}

#imageContainer p {
  font-size: 16px;
}

#credit {
  font-size: 12px;
  text-shadow: 1px 1px #000000;
}

#credit a {
  color: #ffb72e;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
}
