@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
*:not(.fas) {
  font-family: 'Open Sans', sans-serif;
}

.v-application {
  background-color: #7f53ac !important;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%) !important;
  color: #ffffff !important;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.v-btn {
  background-color: rgba(1, 1, 1, 0.3) !important;
  color: #ffffff !important;
  font-size: 1.3rem !important;
}

.italic {
  font-style: italic;
}

#title {
  text-shadow: 1px 2px #000000;
}

#actions {
  margin-top: 10px;
}

#instructions {
  padding: 10px 0px 0px 10px;
}

#instructions ul {
  list-style: none;
  padding: 0;
}

#imageContainer {
  max-width: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

#imageContainer img {
  max-width: inherit;
  height: auto;
}

#imageContainer p {
  font-size: 16px;
}

#credit {
  font-size: 12px;
  text-shadow: 1px 1px #000000;
}

#credit a {
  color: #ffb72e;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
}
/*# sourceMappingURL=style.css.map */