<template>
  <div id="card">
    <ul>
      <li
        v-for="compte in listeComptes"
        v-show="compte.identifiant"
        :id="compte.plateforme"
        :key="compte.plateforme"
      >
        <img
          :src="getImage(compte.plateforme)"
          class="icon"
          :alt="getAltText(compte.plateforme)"
        />
        <span class="pseudo">{{ compte.identifiant }}</span>
      </li>
    </ul>

    <div id="edit">
      <v-dialog v-model="myDialog" persistent max-width="290">
        <template v-slot:activator="{ on }">
          <v-btn v-on="on"><i class="fas fa-user-edit"></i></v-btn>
        </template>
        <v-card id="editMenu">
          <v-card-title>
            <span class="headline">Éditer carte</span>
          </v-card-title>
          <v-card-text>
            <v-text-field
              v-model="blizzard"
              label="Blizzard"
              size="sm"
              class="mr-sm-2 text-white"
              color="#ffffff"
              spellcheck="false"
              autocomplete="on"
              clearable
            />
            <v-text-field
              v-model="discord"
              label="Discord"
              size="sm"
              class="mr-sm-2 text-white"
              color="#ffffff"
              spellcheck="false"
              autocomplete="on"
              clearable
            />
            <v-text-field
              v-model="epicGames"
              label="Epic Games"
              size="sm"
              class="mr-sm-2 text-white"
              color="#ffffff"
              spellcheck="false"
              autocomplete="on"
              clearable
            />
            <v-text-field
              v-model="instagram"
              label="Instagram"
              size="sm"
              class="mr-sm-2 text-white"
              color="#ffffff"
              spellcheck="false"
              autocomplete="on"
              clearable
            />

            <v-text-field
              v-model="mastodon"
              label="Mastodon"
              size="sm"
              class="mr-sm-2 text-white"
              color="#ffffff"
              spellcheck="false"
              autocomplete="on"
              clearable
            />
            <v-text-field
              v-model="nintendo"
              label="Nintendo Online"
              :rules="[rules.nintendo]"
              hint="format: SW-1234-5678-9012"
              size="sm"
              class="mr-sm-2 text-white"
              color="#ffffff"
              spellcheck="false"
              autocomplete="on"
              clearable
            />
            <v-text-field
              v-model="origin"
              label="Origin"
              size="sm"
              class="mr-sm-2 text-white"
              color="#ffffff"
              spellcheck="false"
              autocomplete="on"
              clearable
            />
            <v-text-field
              v-model="playstation"
              label="PlayStation"
              size="sm"
              class="mr-sm-2 text-white"
              color="#ffffff"
              spellcheck="false"
              autocomplete="on"
              clearable
            />
            <v-text-field
              v-model="reddit"
              label="Reddit"
              size="sm"
              class="mr-sm-2 text-white"
              color="#ffffff"
              spellcheck="false"
              autocomplete="on"
              clearable
            />
            <v-text-field
              v-model="riot"
              label="Riot"
              size="sm"
              class="mr-sm-2 text-white"
              color="#ffffff"
              spellcheck="false"
              autocomplete="on"
              clearable
            />
            <v-text-field
              v-model="steam"
              label="Steam"
              size="sm"
              class="mr-sm-2 text-white"
              color="#ffffff"
              spellcheck="false"
              autocomplete="on"
              clearable
            />
            <v-text-field
              v-model="tumblr"
              label="Tumblr"
              size="sm"
              class="mr-sm-2 text-white"
              color="#ffffff"
              spellcheck="false"
              autocomplete="on"
              clearable
            />
            <v-text-field
              v-model="twitch"
              label="Twitch"
              size="sm"
              class="mr-sm-2 text-white"
              color="#ffffff"
              spellcheck="false"
              autocomplete="on"
              clearable
            />
            <v-text-field
              v-model="twitter"
              label="Twitter"
              size="sm"
              class="mr-sm-2 text-white"
              color="#ffffff"
              spellcheck="false"
              autocomplete="on"
              clearable
            />
            <v-text-field
              v-model="ubisoft"
              label="Ubisoft Connect"
              size="sm"
              class="mr-sm-2 text-white"
              color="#ffffff"
              spellcheck="false"
              autocomplete="on"
              clearable
            />
            <v-text-field
              v-model="xbox"
              label="Xbox"
              size="sm"
              class="mr-sm-2 text-white"
              color="#ffffff"
              spellcheck="false"
              autocomplete="on"
              clearable
            />
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="#ffffff" text @click="myDialog = false">Éditer</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>

    <div id="watermark">
      <p>https://tiny.cc/gaming-card</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    blizzard: {
      default: ' ',
      type: String
    },
    discord: {
      default: ' ',
      type: String
    },
    epicGames: {
      default: ' ',
      type: String
    },
    instagram: {
      default: ' ',
      type: String
    },

    mastodon: {
      default: ' ',
      type: String
    },
    nintendo: {
      default: ' ',
      type: String
    },
    origin: {
      default: ' ',
      type: String
    },
    playstation: {
      default: ' ',
      type: String
    },
    reddit: {
      default: ' ',
      type: String
    },
    riot: {
      default: ' ',
      type: String
    },
    steam: {
      default: ' ',
      type: String
    },
    tumblr: {
      default: ' ',
      type: String
    },
    twitch: {
      default: ' ',
      type: String
    },
    twitter: {
      default: ' ',
      type: String
    },
    ubisoft: {
      default: ' ',
      type: String
    },
    xbox: {
      default: ' ',
      type: String
    }
  },
  data() {
    return {
      myDialog: false,
      rules: {
        nintendo: (value) =>
          this.validNintendoCode(value) ||
          'Code invalide - format: SW-1234-5678-9012'
      },
      plateformes: [
        'Blizzard',
        'Discord',
        'Epic Games',
        'Instagram',
        'Mastodon',
        'Nintendo Online',
        'Origin',
        'PlayStation',
        'Reddit',
        'Riot',
        'Steam',
        'Tumblr',
        'Twitch',
        'Twitter',
        'Ubisoft Connect',
        'Xbox'
      ]
    };
  },
  computed: {
    identifiants() {
      return [
        this.blizzard,
        this.discord,
        this.epicGames,
        this.instagram,
        this.mastodon,
        this.formatNintendo(this.nintendo),
        this.origin,
        this.playstation,
        this.reddit,
        this.riot,
        this.steam,
        this.tumblr,
        this.twitch,
        this.twitter,
        this.ubisoft,
        this.xbox
      ];
    },
    listeComptes() {
      const l = [];

      for (let i = 0; i < this.plateformes.length; i++) {
        const p = this.plateformes[i];
        const element = {
          image: this.getImage(p),
          plateforme: p,
          identifiant: this.identifiants[i],
          id: i + 1
        };

        l.push(element);
      }

      return l;
    }
  },

  methods: {
    getImage(plateforme) {
      const image = plateforme.replace(/ /g, '').toLowerCase();
      return `myFiles/icons/${image}.png`;
    },
    getAltText(plateforme) {
      return `Logo ${plateforme}`;
    },
    insertString(insert, index, string) {
      return string.slice(0, index) + insert + string.slice(index);
    },
    formatNintendo(nintendoCode) {
      if (!nintendoCode) {
        return '';
      }

      if (nintendoCode === ' ') {
        return nintendoCode;
      }

      const n = this.unformatNintendoCode(nintendoCode);
      const firstStep = this.insertString('-', 2, n);
      const secondStep = this.insertString('-', 7, firstStep);
      return this.insertString('-', 12, secondStep);
    },
    validNintendoCode(nintendoCode) {
      return !nintendoCode || /^SW-\d{4}-\d{4}-\d{4}$/g.test(nintendoCode);
    },
    unformatNintendoCode(nintendoCode) {
      return nintendoCode ? nintendoCode.replace(/\W/g, '').toUpperCase() : '';
    }
  }
};
</script>

<style lang="scss">
@import 'assets/scss/card.scss';
@import 'assets/scss/editMenu.scss';
</style>
