<template>
  <v-app>
    <h1 id="title">Gaming card</h1>
    <v-container>
      <div id="cardContainer" ref="exportMe">
        <my-card />
      </div>

      <div v-show="exportCard === null" id="instructions">
        <h3>Instructions</h3>
        <ul>
          <li>
            Hover on the card and click on the button on the top right.
          </li>
          <li>
            Fill your informations
          </li>
          <li>
            You can delete a platform by clicking on the 'x' button on its
            associated text field
          </li>
          <li>
            When you are finished, click on the Save button above
          </li>
          <li>
            You can now save your picture by doing
            <span class="italic">Right click -> Save as</span>
          </li>
        </ul>
      </div>
      <div id="actions">
        <v-btn @click="downloadCard()"><i class="fas fa-download"></i></v-btn>
      </div>
    </v-container>

    <v-container v-show="exportCard !== null" id="imageContainer">
      <img :src="exportCard" :alt="cardAlt" />
      <p>Exported picture</p>
    </v-container>
    <div id="credit">
      Favicon made by
      <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
        >Freepik</a
      >
      from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
  </v-app>
</template>

<script>
import Card from '~/components/Card.vue'

export default {
  components: {
    'my-card': Card
  },
  data() {
    return {
      identifiantsTab: [],
      exportCard: null,
      cardAlt: null
    }
  },

  methods: {
    async downloadCard() {
      const element = this.$refs.exportMe

      const options = {
        type: 'dataURL'
      }
      this.exportCard = await this.$html2canvas(element, options)
      this.cardAlt = "Carte exportée en tant qu'image"
    }
  }
}
</script>

<style lang="css" scoped>
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/fontawesome.min.css');

@import 'assets/scss/style.css';
</style>
